requests
python-dotenv
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
dataclasses-json
camelot-py
pymupdf
pandas
flask_compress
flask
flask_limiter
flask_cors
gunicorn